<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="input"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="getData($event)"
    (ionCancel)="onCancel($event)"
    (ionClear)="onClear($event)">
  </ion-searchbar>
  <ion-item>
    <ion-title *ngIf="!infinite_scroll" >Nazadnje objavljeni članki:</ion-title>
    <ion-title *ngIf="infinite_scroll" >Rezultati iskanja za {{input}}:</ion-title>

  </ion-item>

  <ion-list>
   <ion-item button *ngFor="let item of items"  [routerLink]="['/publikacija', item.ID]" routerDirection="forward">
    {{ item.Naslov }}
  </ion-item>
</ion-list>

<ion-infinite-scroll *ngIf="infinite_scroll" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
